body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #3e3c39, #433b43);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tarjeta {
    background: #fcfbfb;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(212, 30, 30, 0.879);
    padding: 20px;
    height: 500px; 
    width: 300px;  
    max-height: none;
    text-align: center;
    flex-grow: 0px;
}

.tarjeta img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    filter: drop-shadow(0 4px 6px rgb(216, 24, 24));
}

.tarjeta h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 10px 0;
    color: #0e0b0b;
}

.tarjeta p {
    font-size: 16px;
    color: #3f3c3c;
    margin: 5px 0;
}

.tarjeta p span {
    font-weight: bold;
    color: #090808;
} 


